html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --main-font-color: #404040;
    --light-font-color: #8d8d8d;

    --container-color: #FFF;

    --box-shadow-resting: 0px 2px 2px rgba(0, 0, 0, 0.192)
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
}

.app{
    display: grid;
    grid-template-columns: 80px auto;
}